.classpath
.project
.springBeans
.settings/
/target/
src/main/webapp/.vscode/
.sass-cache
*npm-debug.log*
src/main/webapp/*.log
src/main/webapp/DocumentManagement/node_modules/
src/main/webapp/META-INF/MANIFEST.MF
src/main/webapp/META-INF/maven/com.kubris/qiss/pom.properties
src/main/webapp/META-INF/maven/com.kubris/qiss/pom.xml
